body {
  background-color: #fff;
  color: #4A4A4A;
  font-family: 'Roboto', "Helvetica", sans-serif;
  padding: 0; margin: 4em 0 0 0;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 300; 
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

hr {
  max-width: 60rem;
  margin: 1em auto;
  height: 1px;
  background-color: #eee;
  color: #eee;
  border: 0 none;
}

#gfs-ci-navbar {
  max-width: 100%;
  max-height: 60px;
  padding: 0;
  position:fixed; top:0; margin:auto; z-index:100000; width:100%;
  background: #fff;
  text-align: right;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
}

  nav {
    padding: 0 12px 0 0;
  }

  .nav-menu {
    padding: 19px 0 12px 0;
    margin: 0 8px;
    display: inline-block;
    color: #4A4A4A;
    text-decoration: none;
  }

a {
  color: #fff;
}

  .nav-menu:hover {
    color: #c80000;
  }

  .logo {
  background-image: url("/../images/ux-g-title.png");
  width: 60px; height: 60px;
  float: left;
  display: inline-block;
  text-align: center;
  vertical-align: middle;  
  }

.content-bounds {
  max-width: 60rem;
  margin: auto;
  padding: 0 36px;
}

.container {
  display: inline-flex;
  border-top: 1px solid #eee;
}

  .flex-style {
    flex-direction: row;
    width: 50%; height: 100%;
    padding: 32px;
    margin: auto;
    text-align: left;
  }

  .ux-defined {
    padding-left: 0;
    margin: 0;
    border-right: 1px solid #eee;
  }

.quote {
  min-height: 1.5em;
  max-width: 100%;
  padding: 8px 0;
  margin: 0 auto;
  background: #212121;
  color: #fff;
}

.project-section {
  padding: 36px 0;
}

.start-cta-btn {
  max-height: 40px;
  max-width: 250px;
  padding: 1em 0;
  margin: 32px auto 0 auto;
  border-radius: 3px;
  border: 1px solid #2b5a87;
  font-weight: 400;
  letter-spacing: .5px;
  background-color: #2b5a87;
  color: #fff;
  text-decoration: none;
}

  .start-cta-link {
    text-decoration: none;
  }

  .design-think {
    padding-right: 0;
  }

  .what-1 {
    text-align: center;
  }

  .step-1 {
    background: #eee;
    padding-bottom: 80px;
  }

  .step-5 {
    background: #eee;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5em 0;
  }

  .team-id-card {
    max-width: 250px;
    height: 425px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin: 1.5em;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
  }

  .team-img {
    background: url("https://cnet3.cbsistatic.com/img/4NYORYi7xnvrxRBDAIzWn71rnq8=/770x433/2017/04/10/08b80d53-6d07-4026-a4ee-00715f80582f/thor-image.jpg");
    background-position: 15%;
    max-width: 100%; height: 45%;
    background-size: ccover;
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0;
    padding: 0;
    margin: 0;
  }

  .team-title {
    padding: 1em;
    background: #fff;
    line-height: 24px;
  }

  .team-details {
    padding: 0em 1.5em 2em 1.5em;
    font-weight: 300;
  }

  .value-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    margin-top: 24px;
    padding-left: 3em;
  }

    .bold {
      font-weight: 700;
      font-size: 18px;
    }


footer {
  max-width: 100%;
  max-height: 48px;
  padding: 9px 0;
  margin: 0;
  text-align: center;
  outline: 1px solid #eee; 
}


