body {
  background-color: #fff;
  color: #4A4A4A;
  font-family: 'Roboto', "Helvetica", sans-serif;
  padding: 0; margin: 4em 0 0 0;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 300; 
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

#gfs-ci-navbar {
  max-width: 100%;
  max-height: 60px;
  padding: 24px 0;
  position:fixed; top:0; margin:auto; z-index:100000; width:100%;
  background: #fff;
  text-align: right;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
}

  .nav-menu {
    padding: 0;
    margin: 0 12px;
    display: inline-block;
    color: #4A4A4A;
  }

a {
  color: #fff;

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.content-bounds {
  max-width: 60rem;
  margin: auto;
  padding: 0 36px;
}

.container {
  display: inline-flex;
  border-top: 1px solid #eee;
}

  .flex-style {
    flex-direction: row;
    width: 50%; height: 100%;
    padding: 32px;
    margin: auto;
    text-align: left;
  }

  .ux-defined {
    padding-left: 0;
    margin: 0;
    border-right: 1px solid #eee;
  }

.quote {
  min-height: 1.5em;
  max-width: 100%;
  padding: 8px 0;
  margin: 0 auto;
  background: #212121;
  color: #fff;
}

.project-section {
  padding: 36px 0;
}

.start-cta-btn {
  max-height: 40px;
  max-width: 250px;
  padding: 1em 0;
  margin: 32px auto 0 auto;
  border-radius: 3px;
  border: 1px solid #2b5a87;
  font-weight: 400;
  letter-spacing: .5px;
  background-color: #2b5a87;
  color: #fff;
  text-decoration: none;
}

  .start-cta-link {
    text-decoration: none;
  }

  .design-think {
    padding-right: 0;
  }

  .what-1 {
    text-align: center;
  }

  .step-1 {
    background: #eee;
    padding-bottom: 80px;
  }

  .step-5 {
    background: #eee;
  }

  .ux-process {
    margin: 0 auto;
    background-size: cover;
  }

  .ux-process-img {
    width: 1032;
  }


footer {
  max-width: 100%;
  max-height: 48px;
  padding: 9px 0;
  margin: 0;
  text-align: center;
  outline: 1px solid #eee; 
}
