---
title: UI Standards | User Experience | Gordon Food Service
---


<header id="gfs-ci-navbar">
  <nav>
    <a href="" class="logo"></a>
    <a href="index.html" class="nav-menu">Overview</a>
    <a href="index.html" class="nav-menu">Process</a>
    <a href="index.html" class="nav-menu">Meet the Team</a>
    <a href="#contact" class="nav-menu">Contact Us</a>
    <a href="work.html" class="nav-menu ">Our Work</a>
    <a href="brand.html" class="nav-menu ">Brand Standards</a>
  </nav>
</header>


<div class="project-section step-2">
  <div class="repo-content-bounds">

  <h1>User Interface</h1> 

  <p>UI, is the content and controls that person senses or manipulates to interact with a digital device.</p>

  <h2>Standards</h2>
  <p>Fully approved for use in any future application</p>

  <h3>Type Ahead Input Field</h3>
  <p>The magifying glass is an icon that proceeds text entry indicating it will display matching results. It is not a clickable button. Matches appear in dropdown below. Alphabetical, and first result is highlighted. Hitting enter selects the highlighted item. Up and down arrow keys move between items in the matching list. If the list is extremely long. Ten results display and scroll to see more.</p>
  <label>Example Typeahead</label>
  <input type="text" class="typeahead">
  <ul>
  <li><a href="#">That Thing</a></li>
  </ul>
  
  <h3>Input field populated by running a search</h3>
  <h3>Error Messages</h3>
  <h3>Breadcrumb</h3>
  <h3>Tabs</h3>
  <h3>Input field populated by running a search</h3>
  <h3>Error Fields</h3>
  <h3>Breadcrumb</h3>

  <h2>To be defined</h2>
  <p>Use at own risk... Still under consideration. Any question, contact ux@gfs.com</p>
  <h3>Internal Header</h3>
  <h3>External Header</h3>
  <h3>Search</h3>
  <h3>Blockquote</h3>
  <h3>Tooltips</h3>
  <h3>Internal Header</h3>
  <h3>External Header</h3>
  <h3>Fonts</h3>
  <h3>Hierarchy</h3>
  <h3>Internal Footer</h3>
  <h3>Links</h3>
  <h3>Buttons</h3>
  <h3>Web Colors</h3>
  <p>For brand colors, see brand guide link..</p>
  <h3>Page controls</h3>
  <h3>Radio buttons</h3>

  <h3>Radios boxes</h3>
  <h3>Check boxes</h3>
  <h3>Forms</h3>
  <p>Eye tracking proves that the most efficient for a long form is a vertical column, because if eyes have to zig-xag across the screen customers get lost.</p>
  <p>For brand colors, see brand guide link..</p>
  <h3>Essay input (text area)</h3>
  <h3>Drop downs</h3>

  <div class="repo-container">
  <div class="card">
    
  <img src="http://media02.hongkiat.com/ui-designer-portfolios/3-creative-UI-designers-portfolios-1.jpg" alt="Smiley face" height="250rem" width="100%">
  <h1>User Interface (UI)</h1>
  <h3>Style guidelines placeholder</h3>

  <a href="#" class="myButton">View Components</a>
  </div>

  <div class="card">
  <img src="http://media02.hongkiat.com/ui-designer-portfolios/3-creative-UI-designers-portfolios-1.jpg" alt="Smiley face" height="250rem" width="100%">
  <h1>User Experience</h1>
  <h3>Customer-centric Principles...</h3>

  <a href="#" class="myButton">View Standards</a>
  </div>

  <div class="card">
  <img src="http://www.designyourway.net/diverse/5/twentyfive/music_app.jpg" alt="Smiley face" height="250rem" width="100%">
  <h1>Creative <br> Marketing</h1>
  <h3>Content and photo guidelines...</h3>

  <a href="#" class="myButton">View Guidelines</a>
  </div>
        

  </div>
</div>

</div>

<div class="project-section step-5">
  <div class="content-bounds">

    <h1>Want to chat about your next project?</h1>

    <div class="start-cta-btn">
      <a href="" class="start-cta-link">Contact Us</a>
    </div>   

  </div>
</div>

<footer>
<a name="contact"></a>
  <div>
    <p> &copy; 2017 Gordon Food Service. </p>
    
  </div>
</footer>


