---
title: UX Team Welcome Guide
---


<header id="gfs-ci-navbar">
  <nav>
    <a href="" class="logo"></a>
    <a href="index.html" class="nav-menu">Overview</a>
    <a href="#kickoff" class="nav-menu">Process</a>
    <a href="#team" class="nav-menu">Meet the Team</a>
    <a href="#contact" class="nav-menu">Contact Us</a>
    <a href="work.html" class="nav-menu ">Our Work</a>
    <a href="brand.html" class="nav-menu ">Brand Standards</a>
  </nav>
</header>


<div class="project-section step-2">
  <div class="repo-content-bounds">

  <h1>Brand Standards</h1> 

  <div class="repo-container">
  <div class="card">
    
  <img src="http://media02.hongkiat.com/ui-designer-portfolios/3-creative-UI-designers-portfolios-1.jpg" alt="Smiley face" height="250rem" width="100%">
  <h1>Designer Placeholder</h1>
  <h3>Sketch and Invision Placeholder</h3>

  <a href="#" class="myButton">View Work</a>
  </div>

  <div class="card">
  <img src="http://media02.hongkiat.com/ui-designer-portfolios/3-creative-UI-designers-portfolios-1.jpg" alt="Smiley face" height="250rem" width="100%">
  <h1>Developer Placeholder</h1>
  <h3>Zeplin Files Placeholder</h3>

  <a href="#" class="myButton">View Work</a>
  </div>

  <div class="card">
  <img src="http://www.designyourway.net/diverse/5/twentyfive/music_app.jpg" alt="Smiley face" height="250rem" width="100%">
  <h1>Creative <br> Marketing</h1>
  <h3>Brand Guide Placeholder</h3>

  <a href="#" class="myButton">View Work</a>
  </div>
        

  </div>
</div>

</div>

<div class="project-section step-5">
  <div class="content-bounds">

    <h1>Want to chat about your next project?</h1>

    <div class="start-cta-btn">
      <a href="" class="start-cta-link">Contact Us</a>
    </div>   

  </div>
</div>

<footer>
<a name="contact"></a>
  <div>
    <p> &copy; 2017 Gordon Food Service. </p>
    
  </div>
</footer>


