---
title: UX Team Welcome Guide
---


<header id="gfs-ci-navbar">
  <nav>
    <a href="" class="nav-menu">Logotype</a>
    <a href="" class="nav-menu">Primary</a>
    <a href="" class="nav-menu">Secondary</a>
    <a href="" class="nav-menu">Tertiary</a>
    <a href="" class="nav-menu">Design Repo</a>
  </nav>
</header>

<div class="project-section ux-overview">
  <div class="content-bounds">
    <h1>Overview</h1>
      <h2>What is User Experience</h2>

    <div class="design-think flex-style"> 
      <p> This is the ultimate UX resource if you’re planning a project or want to know what we do. Each project has its own unique challenges, and as such, each project will have it’s own path and project plan. One-size-fits-all is not the case in the user experience world. This is why we recommend reading through the playbook and learning about design thinking before applying foundations. </p>
    </div>
    <div class="the-project flex-style">
      <p> This is the ultimate UX resource if you’re planning a project or want to know what we do. Each project has its own unique challenges, and as such, each project will have it’s own path and project plan. One-size-fits-all is not the case in the user experience world. This is why we recommend reading through the playbook and learning about design thinking before applying foundations. </p>
    </div>


  </div>
</div>


<div class="project-section step-1">
  <div class="content-bounds">

    <h1>Project Outline</h1>
    

    <h2>Project Requirements</h2> 

    <h2>Invite Stakeholders</h2> 

    <h2>Meeting Agenda</h2>    


  </div>
</div>

<div class="project-section step-2">
  <div class="content-bounds">

    <h1>Kickoff Agenda</h1>

    <h2>Project Requirements</h2> 

    <h2>Invite Stakeholders</h2> 

    <h2>Meeting Agenda</h2>    


  </div>
</div>

<div class="project-section step-3">
  <div class="content-bounds">

    <h1>Types of Deliverables</h1>

    <h2>Project Requirements</h2> 

    <h2>Invite Stakeholders</h2> 

    <h2>Meeting Agenda</h2>    


  </div>
</div>

<div class="project-section step-4">
  <div class="content-bounds">

    <h1>Contact US!</h1>

    <h2>Project Requirements</h2>   

  </div>
</div>

<footer>
  <div>
    <p>2017 Copy GFS. Created by GFS UX Team.</p>
    
  </div>
</footer>


