---
title: UX Team Welcome Guide
---

<header id="gfs-ci-navbar">
  <nav>
    <a href="" class="logo">G</a>
    <a href="" class="nav-menu">Overview</a>
    <a href="#kickoff" class="nav-menu">Process</a>
    <a href="#team" class="nav-menu">Meet the Team</a>
    <a href="#contact" class="nav-menu">Contact Us</a>
    <a href="https://invis.io/V9CQXHP6T" class="nav-menu ">Our Work</a>
    <a href="" class="nav-menu ">Brand Standards</a>
  </nav>
</header>

<div class="project-section ux-overview">
  <div class="content-bounds">
    <h1>Overview</h1>

  <div class="container">
    <div class="ux-defined flex-style"> 
      <h2 class="what-1">What is User Experience?</h2>
      <p> User experience design (UX, UXD or UED) is a human-first way of designing products. It is the process of enhancing customer satisfaction and loyalty by improving the usability, ease of use, and pleasure provided in the interaction between the customer and the product. </p>
    </div>
    <div class="design-think flex-style">
      <h2 class="what-1">What is Design Thinking?</h2>
      <p> Design Thinking is a methodology used by designers to solve complex problems, and find desirable solutions for clients. ... Design Thinking draws upon logic, imagination, intuition, and systemic reasoning, to explore possibilities of what could <br>be—and to create desired outcomes that benefit the end user (the customer, the client, the stakeholder). </p>
    </div>
  </div>

  </div>
</div>


<div class="project-section step-1">
  <div class="content-bounds">

    <h1>Need UX for your project?</h1> 

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quidem rerum esse, quas est exercitationem cupiditate sequi quisquam. Quia at ipsam nulla voluptatem deleniti illum saepe tenetur quaerat sit, beatae. </p> 
<a name="kickoff"></a>
    <div class="start-cta-btn">
      <a href="" class="start-cta-link">Get started today</a>
    </div>  

  </div>
</div>

<div class="quote">
  <h1>“Does it better” will always beat “did it first.” – Aaron Levie, CEO at Box</h1>
</div>

<div class="project-section step-2">
  <div class="content-bounds">

    <h1>Project Outline and Kickoff Agenda</h1>

    <h2>Project Requirements</h2> 

    <h2>Invite Stakeholders</h2> 

    <h2>Meeting Agenda</h2>    

  </div>
</div>

<hr>

<div class="project-section step-4">
  <div class="content-bounds">

    <h1>Process and Deliverables</h1>

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quidem rerum esse, quas est exercitationem cupiditate sequi quisquam. Quia at ipsam nulla voluptatem deleniti illum saepe tenetur quaerat sit, beatae. </p> 
<a name="team"></a>
  </div>
</div>

<hr>

<div class="project-section step-3">
  <div class="content-bounds">

    <h1>Meet The Team</h1>

    <div class="card-container">
    <div class="team-id-card">
      <div class="team-img"></div>  
      <div class="team-title">Ben Nanninga <br> User Experience Manager</div> 
      <div class="team-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem voluptatum placeat, itaque qui hic sequi cumque exercitationem molestiae excepturi!</div>
    </div>

    <div class="team-id-card">
      <div class="team-img"></div>  
      <div class="team-title">Dana Thomas <br> User Interface Designer</div> 
      <div class="team-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem voluptatum placeat, itaque qui hic sequi cumque exercitationem molestiae excepturi! </div>
    </div>

<!--     <div class="team-id-card">
      <div class="team-img"></div>  
      <div class="team-title">Future Hire <br> UX / Web Marketing Analyst</div> 
      <div class="team-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem voluptatum placeat, itaque qui hic sequi cumque exercitationem molestiae excepturi! </div>
    </div> -->

    </div>


    <hr>

    <h2>Our Vision</h2>

    <p> Transform Gordon Food Service into a human-centered, <br>design-forward leader in our industry. </p> 

    <h2>Our Mission</h2>

    <p> Evaluate the execution of business & user needs<br> through human-centered design. </p> 

    <hr>

    <h2>Our Values</h2>

    <div class="value-container">

    <p class="value-items"> 
    We optimize first and foremost for the user through empathy and compassion. <span class="bold">Put the User First</span></p> 
    
    <p class="value-items"> 
    We believe that radical collaboration drives breakthrough results. <span class="bold">Collaborate</span></p> 

    <p class="value-items">   
    We believe the best decisions come from a rigorous exploration of both qualitative & quantitative data. <span class="bold">Leverage Data</span></p> 

    <p class="value-items"> 
    We continually imagine a future full of opportunities and solutions, with multiple paths forward. <span class="bold">Be Optimistic</span></p> 
    
    <p class="value-items"> 
    We openly embrace the foggy nature of designing the future. <span class="bold">Embrace Ambiguity</span></p> 
    
    <p class="value-items"> 
    We believe that good solutions scale over time, bend with constraints and reach into the future. <span class="bold">Pursue Scalability</span></p> 
    
    <p class="value-items">   
    We believe that owning our craft and the challenges in front of us drive us to superior results. <span class="bold">Take Ownership</span></p> 

    <p class="value-items"> 
    Our relentless curiosity drives us to continually learn new things and we echo that learning back to those we <br> collaborate with. <span class="bold">Teach &amp; Learn</span></p> 

    </div>

  </div>
</div>

<div class="project-section step-5">
  <div class="content-bounds">

    <h1>Want to chat about your next project?</h1>

    <div class="start-cta-btn">
      <a href="" class="start-cta-link">Contact Us</a>
    </div>   

  </div>
</div>

<footer>
<a name="contact"></a>
  <div>
    <p> &copy; 2017 Gordon Food Service. </p>
    
  </div>
</footer>


