---
title: UX Team Welcome Guide
---


<header id="gfs-ci-navbar">
  <nav>
    <a href="" class="nav-menu">Logotype</a>
    <a href="" class="nav-menu">Primary</a>
    <a href="" class="nav-menu">Secondary</a>
    <a href="" class="nav-menu">Tertiary</a>
    <a href="" class="nav-menu">Design Repo</a>
  </nav>
</header>

<div class="project-section ux-overview">
  <div class="content-bounds">
    <h1>Overview</h1>

  <div class="container">
    <div class="ux-defined flex-style"> 
      <h2 class="what-1">What is User Experience?</h2>
      <p> User experience design (UXD or UED) is a human-first way of designing products. It is the process of enhancing customer satisfaction and loyalty by improving the usability, ease of use, and pleasure provided in the interaction between the customer and the product. </p>
    </div>
    <div class="design-think flex-style">
      <h2 class="what-1">What is Design Thinking?</h2>
      <p> Design Thinking is a methodology used by designers to solve complex problems, and find desirable solutions for clients. ... Design Thinking draws upon logic, imagination, intuition, and systemic reasoning, to explore possibilities of what could be—and to create desired outcomes that benefit the end user (the customer). </p>
    </div>
  </div>

  </div>
</div>


<div class="project-section step-1">
  <div class="content-bounds">

    <h1>Project Outline</h1>
    

    <h2>Project Requirements</h2> 

    <h2>Invite Stakeholders</h2> 

    <h2>Meeting Agenda</h2>    


  </div>
</div>

<div class="project-section step-2">
  <div class="content-bounds">

    <h1>Kickoff Agenda</h1>

    <h2>Project Requirements</h2> 

    <h2>Invite Stakeholders</h2> 

    <h2>Meeting Agenda</h2>    


  </div>
</div>

<div class="project-section step-3">
  <div class="content-bounds">

    <h1>Types of Deliverables</h1>

    <h2>Project Requirements</h2> 

    <h2>Invite Stakeholders</h2> 

    <h2>Meeting Agenda</h2>    


  </div>
</div>

<div class="project-section step-4">
  <div class="content-bounds">

    <h1>Contact US!</h1>

    <h2>Project Requirements</h2>   

  </div>
</div>

<footer>
  <div>
    <p>2017 Copy GFS. Created by GFS UX Team.</p>
    
  </div>
</footer>


